.header{
	border: 1px solid black;
}
ul{
	float: right;
	margin-right: 30px;

}
li{
	display: inline;
	margin-left: 20px;
}
.logo{

	width: 350px;
	height:280px;
}
footer{
	border: 1px solid black;
	position: relative;
}
.plouf{
	text-align: center;
}
.listes{
	float: right;
}
